#!/sbin/nft -f

{{ ansible_managed | comment }}

table inet filter
flush table inet filter
delete table inet filter

table inet filter {
    chain input {
        type filter hook input priority 0; policy {{ nftalbes_input_policy }};

        iif lo notrack accept;
        ip6 nexthdr icmpv6 counter notrack accept
        ip protocol icmp counter notrack accept;

        include "{{ nftables_input_head_d }}/*.nft"

        ct state established,related counter accept;

        #allow ssh
        tcp dport 22 accept;

        include "{{ nftables_input_d }}/*.nft"

{% if nftables_input_reject %}
        counter reject with icmpx type admin-prohibited;
{% endif %}
    }
    chain output {
        type filter hook output priority 0; policy {{ nftalbes_output_policy }};

        include "{{ nftables_output_head_d }}/*.nft"

        include "{{ nftables_output_d }}/*.nft"
    }
    chain forward {
        type filter hook forward priority 0; policy {{ nftalbes_forward_policy }};

        include "{{ nftables_forward_head_d }}/*.nft"

        include "{{ nftables_forward_d }}/*.nft"

        notrack
    }
}
